In [31]:
import sqlite3
import pandas as pd


DB_NAME = "../../../database.sqlite"
argkw = {
    "name": "yyy",
    "email": "yyy",
}

connection = sqlite3.connect(f"{DB_NAME}")
table_name = "table_user_info"


df = pd.read_sql_query(f"SELECT * FROM {table_name};", connection)

columns = df.head().columns.tolist()


insert_columns = columns[1:-2]


keys = list(argkw.keys())

values = [argkw[key] for key in keys]


sql_query_insert_data = f"""
INSERT INTO {table_name} (
    {", ".join(keys)}
) VALUES (
    {", ".join(['?'] * len(keys))}
);
"""

sql_query_insert_data

connection.execute(sql_query_insert_data, (*values,))
connection.commit()


print("Inserted successfully")
connection.close()

Inserted successfully

In [ ]:
import sqlite3



def model(
    argkw: dict,
    DB_NAME: str = "database.sqlite",
):

    connection = sqlite3.connect(f"{DB_NAME}")
    table_name = "table_user_info"


    keys = list(argkw.keys())

    values = [argkw[key] for key in keys]

    sql_query_insert_data = f"""
    INSERT INTO {table_name} (
        {", ".join(keys)}
    ) VALUES (
        {", ".join(['?'] * len(keys))}
    );
    """

    sql_query_insert_data

    connection.execute(sql_query_insert_data, (*values,))
    connection.commit()

    connection.close()
    print("Inserted successfully")